$black-bg-color: #000000;
$black-color: #000000;
$red-bg-color: #F2707C;
$red-color: #F2707C;
$white-bg-color: #fff;
$white-color: #fff;
$medium: 580px;
$high: 980px;

.hero_section_wrapper {
  padding: 80px 108px;

  @media screen and (max-width: $high) {
    padding: 24px 16px;
  }

  @media screen and (max-width: $medium) {
    padding: 24px 16px;
  }
}

.hero_section_container {
  width: 100%;
  max-width: 1224px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @media screen and (max-width: $high) {
    flex-direction: column;
    gap: 32px;
  }

  @media screen and (max-width: $medium) {
    flex-direction: column;
    gap: 32px;
  }
}

.hero_section_details {
  width: 100%;
  max-width: 496px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: flex-start;

  @media screen and (max-width: $high) {
    align-items: center;
  }

  @media screen and (max-width: $medium) {
    align-items: center;
  }
}

.hero_section_header {
  font-size: 48px;
  font-weight: 500;
  color: $black-color;
  animation: 2s anim-flipX ease infinite;

  @media screen and (max-width: $high) {
    font-size: 32px;
    text-align: center;
    animation: none;
  }

  @media screen and (max-width: $medium) {
    font-size: 32px;
    text-align: center;
    animation: none;
  }
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }

  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }

  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}
.hero_section_subheader {
  font-size: 20px;
  font-weight: 400;
  color: $black-color;

  @media screen and (max-width: $high) {
    font-size: 17px;
    text-align: center;
  }

  @media screen and (max-width: $medium) {
    font-size: 17px;
    text-align: center;
  }
}


.btn_container {
  transition: all;
    padding: 8px 40px;
    font-weight: 500;
    height: 43px;
    background: $red-bg-color;
  color: $white-color;
  border: none;
    border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 8px;
}

.btn_container:hover {
  color: $red-color;
}

.btn_container:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn_container:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero_section_image img {

  @media screen and (max-width: $high) {
    max-width: 343px;
    height: 240px;
  }

  @media screen and (max-width: $medium) {
    max-width: 343px;
    height: 240px;
  }
}