$gray-color: #888484;
$white-color: #fff;
$blue-color: #3498db;
$bluish-color: rgba(52, 152, 219, 0.5);

.form {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  width: 100%;

  input {
    width: 100%;
    max-width: 400px;
    height: 54px;
    box-shadow: 0px 10px 20px 0px #0000001A;
    padding: 16px 0 16px 16px;
    color: $gray-color;
    border: 2px solid $blue-color;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    opacity: 80%;
    background-color: $white-color;
    outline: 2px solid $white-color;
      transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
      box-sizing: border-box;
  }

  :focus {
    border-color: $blue-color;
    opacity: 1;
    outline: 2px solid #84B5F3;
      box-shadow: 0 0 15px $bluish-color;
      transform: scale(1.02);
  }

  ::placeholder {
    font-size: 20px;
    font-weight: 500;
  }

  :disabled {
    opacity: 60%;
    cursor: not-allowed;
  }
  
}