$medium: 580px;
$high: 980px;

.swiper_img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  @media screen and (max-width: $medium) {
    max-width: 184px;
  }
}
.swiper_img:hover {
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}