$black-bg-color: #000000;
$black-color: #000000;
$red-bg-color: #F2707C;
$red-color: #F2707C;
$white-bg-color: #fff;
$white-color: #fff;
$purple-bg-color: #8E7CB5;
$darkpurple-color: #4E3F6B;
$medium: 580px;
$high: 980px;

.content_section_wrapper {
  padding: 93px 108px;
  background-color: $purple-bg-color;

  @media screen and (max-width: $high) {
    padding: 32px 24px 48px 24px;
  }

  @media screen and (max-width: $medium) {
    padding: 32px 24px 48px 24px;
  }
}

.content_section_container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $high) {
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    gap: 16px;
  }

  @media screen and (max-width: $medium) {
    flex-direction: column;
    max-width: none;
    gap: 16px;
  }
}

.content_section_header {
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: $white-color;

  @media screen and (max-width: $high) {
    font-size: 24px;
    line-height: 34px;
  }

  @media screen and (max-width: $medium) {
    font-size: 24px;
    line-height: 34px;
  }
}

.content_section_description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 462px;

  @media screen and (max-width: $medium) {
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: $medium) {
    display: none;
  }
}

.text {
  color: $white-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.btn_text_container {
  position: relative;
    // margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
  cursor: pointer;
  display: flex;
  }

.btn_text_container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.btn_text_container .btn_text {
  position: relative;
  color: $white-color;
  font-size: 20px;
  font-weight: 500;
  width: fit-content;
  }
    .btn_text_container img {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #234567;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
  }
    .btn_text_container:hover:before {
      width: 40%;
      background: #b1dae7;
    }
  
    .btn_text_container:hover img {
      transform: translateX(0);
    }
  
    .btn_text_container:active {
      transform: scale(0.95);
}

.dropdown {
  display: none;

  @media screen and (max-width: $medium) {
    display: contents;
  }
}
.content_section_header {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.content_section_header:first-of-type {
  /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 3s infinite;
}

.content_section_header:last-of-type {
  width: 0px;
  animation: reveal 3s infinite;
}

.content_section_header:last-of-type span {
  margin-left: -355px;
  animation: slidein 3s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 355px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 355px;
  }
}